body{
  margin:3;
  background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    background-color: #1a1a1a;
    float: centre;
    top: 0;
    width: 60%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #404040;
}

.active {
    background-color: #404040;
}

li {
    border-right: 1px solid #bbb;

}
