body {margin: 0;}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li {float: left;}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    border: 1px;

}

ul.navbar li a:hover:not(.active) {background-color: #111;}

ul.navbar li a.active {background-color: #b21917;}

ul.navbar li.right {float: right;}

@media screen and (max-width: 600px){
    ul.navbar li.right,
    ul.navbar li {float: none;}
}
